# Visual Studio cache
.vs/
.vscode/

# Build folders
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet packages
packages/
*.nupkg
*.snupkg

# User-specific files
*.user
*.suo
*.userosscache
*.rsuser
*.sln.docstates
*.userprefs

# Logs
*.log

# Temp files
*.tmp
*.temp
*.cache

# Backup files
*.bak

# Database files
*.mdf
*.ldf

# Publish folders
publish/

# System files
Thumbs.db
*.DS_Store
